.bike-view-body {
	margin-top: 100px;
}

.bike-header {
	display: inline;
}

#bike-name {
	font-size: 1.5em;
}

#star-img {
	/*margin-left: 10px;*/
	margin-top: 10px;
}

.carousel {
	margin-top: 25px;
}

.reservation-button {
	background-color: #F29898;
	border-color: #F29898;
}

.reservation-button:hover {
	background-color: #838383;
	border-color: #838383;
}

.label {
	color: gray;
}

.feature {
	margin-bottom: 10px;
	float: left;
	width: 50%;
}

.feature-name {
	display: inline;
	margin-left: 10px;
}

.rating-display {
	cursor: pointer;
}