/*Home.css*/

.home {
	background-image: url('../images/home_bike.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

/* Navbar styles */
.user-icon {
	margin-left: 10px;
}

/* Body styles */
.main-text {
	color: white;
	font-size: 4vw;
	margin-top: 7%;
}

.search-button {
	margin-left: 2%;
}

@media only screen and (max-width: 768px) {
	.search-button {
		margin-left: 0;
		margin-top: 2%;
	}

	.main-text {
		margin-top: 30%;
	}
}


@media only screen and (min-width: 1200px) {
	.main-text {
		margin-top: 3%;
	}
}