/*Listings.css*/

.listing-body {
	margin-top: 100px;
}

.info-bar {
	text-align: center;
	margin-bottom: 25px;
	border: 1px solid gray;
	border-radius: 10px;
}

.wrap {
	display: flex;
}

.left {
	flex-basis: 60%;
	height: 75vh;
	width: 100%;
}

.right {
	flex-basis: 40%;
	height: 75vh;
	overflow: auto;
}

.map {
	width: 100%;
}

.card {
	margin: 25px 0 25px 0;
	color: black;
}

.card:hover {
}

#card-title {
	font-size: 2em;
}

.card-info {
	display: inline;
}

#star-img {
	display: table-cell;
    vertical-align: middle;
}

#category {
	margin-left: 10px;
	color: gray;
}


@media only screen and (max-width: 992px) {
	.wrap {
		display: block;
	}

	.right {
		overflow: visible;
	}

	.left {
		height: 50vh;
	}
}
