.Login {
    background-image: url('../images/ramiro-pianarosa-8-AMIsjGf-s-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


@media only screen and (max-width: 1200px) {
    .mobileL{
        display:flex;
        align-content: space-around;
        flex-flow: column;
        
        justify-content: center;
        position: relative;
    }
}


.colfullpage{
    margin-top: 80px;
    display:flex;
    align-content: space-around;
    flex-flow: column;
        
    justify-content: center;
    position: relative;
    max-width:30rem;

}


.WelcomeL {
    width: 120px;
    padding: 2px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    bottom: 40px;
}

.topTextL {
    width: 320px;
    padding: 2px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    margin-top: 0px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    font-size: 40px;
    position: relative;
    top: -30px;
    bottom: -30px;   
}

.cardBodyL {
    padding: 0;
    margin-top: 0;
}

.logoImg1L {
    width: 120px;
    height: 120px;
    padding: 0;
    margin-bottom: 0;
    display: flex;
}

.linkForLogoL {
    width: 12vh;
    height: 8vh;
    padding: 0;
    margin-bottom: 0;
}

.formBoxL {
    width: 40vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    bottom: 40px;
}

.loginButtonL {
    width: 20%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 25px;
}

.accountSignUpL {
    width: 50%;
    margin: 0 auto;
    font-size: 12px;
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    bottom: 10px;
    min-width: 0;
}

