.Login {
    background-image: url('../images/ramiro-pianarosa-8-AMIsjGf-s-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/*.boxLayout {*/
/*    position: relative;*/
/*    top: 25px;*/
/*    right: 25px;*/
/*}*/


@media only screen and (min-width: 200px) {
    .boxLayout {
        position: relative;
        top: 25px;
        right: -10px;
    }
}

@media only screen and (max-width: 200px) {
    .boxLayout {
        position: relative;
        top: 25px;
        right: 15px;
    }
}

.Welcome {
    width: 120px;
    padding: 2px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    bottom: 40px;
}

.topText {
    width: 120px;
    padding: 2px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    font-size: 40px;
    position: relative;
    bottom: 40px;
}

.cardBody {
    padding: 0;
    margin-top: 0;
}

.logoImg {
    width: 12vh;
    height: 12vh;
    padding: 0;
    margin-bottom: 0;
}

.linkForLogo {
    width: 12vh;
    height: 8vh;
    padding: 0;
    margin-bottom: 0;
}

.formBox {
    width: 40vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    bottom: 40px;
}

.loginButton {
    width: 20%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 25px;
}

.accountSignUp {
    width: 50%;
    margin: 0 auto;
    font-size: 12px;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 10px;
}