.Register {
    background-image: url('../images/yolanda-sun-1rsskca11-g-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}